@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Witaj, @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="btn btn-link nav-link">Wyloguj</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Zaloguj</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Rejestracja</a>
        </li>
    }
</ul>
